nav{
    display: inline-block;
    margin-left: 10%;

}
header h1{
    display: inline-block;
}
a{
    color: green;
    text-decoration: none;
    padding: 15px;
}

body{
    font-family: Helvetica, sans-serif;
}
