@media screen and (max-width: 600px) {
    header nav {
        flex-direction: column;
        gap: 20px;
    }
    .header-title h1{
        font-size: 30px;
    }

    header nav ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
    }
    .team-description-wrapper ul{
        display: grid;
        grid-template-columns: 2fr 2fr;
        gap: 1rem;

    }
    .choose-us ul{
        display: flex;
        flex-direction: column;
    }
    .choose-us li p{
        width: 60%;
        margin-left: 20%;
        margin-bottom: 2rem;
    }
    .blog-list{
        display: flex;
        flex-direction: column;
    }
    .blog-list .item{
        margin:2rem;
    }
    
}