@media screen and (max-width: 600px) {
    body{
        margin:0;
        width: 100%;
    }
    .game-world-header{
        padding-top: 2rem;
    }

    .tm-header-inner img{
        width: 20%;
    }
    .tm-site-text-box{
        width: 70%;
    
    }
    .tm-nav-ul{
        margin-left: 3rem;
    }
    .tm-welcome-section h2{
        text-align: left;
    }

    .tm-paging-links{
        margin:1;

  
    }
    #tm-gallery-page-all{

        margin:0;
    }
    .tm-container-inner {
        width: 70%;
        display: flex;
        flex-direction: column;
        margin-left: 15%;
    }

    .tm-description-figure{
        max-width: 280px;
        margin-left: auto;
        margin-right: auto;
    }
    footer{
        width: 100%;
    }
  }