@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap");

*{
    margin: 0;
    padding: 0;
    font-family: inter;
}
header{
    display: flex;
    background: #d9d9d9;
}
nav ul{
    display: flex;
    text-decoration: none;
    list-style: none;
    padding-left: 4rem;

}
nav li{
    margin: 1rem 2rem 1rem 2rem;
}
header button{
    margin-left: 60rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    background-color: white;
    color: black;
    border: 1px solid black;
    border-radius: 4px;
}
.about img{
    width: 100%;
    height: 50rem;
    object-fit: cover;
    object-position: 50% 190%; 
    

}
.about_text-container{
    position: absolute;
    top: 15rem;
    left: 10rem;
    width: 35%;
}
.about_text-container h1{
    margin-bottom: 6rem;
    font-size: 50px;
}
.about_text-container p{
    font-size: 20px;
    color: white;
    line-height: 1.5rem;
    margin-bottom: 3rem;
    
}
.button_fill{
    margin-top: 3rem;
   width: 10rem;
   height: 3rem;
   border-radius: 10px;
   border: 0px ;
   color: white;
   background-color: black;
   font-size: 17px;
}
.statistics-wrapper{
    display: flex;
    text-align: center;
}
.statistics{
    padding: 2rem;
}
.statistics-wrapper h1{
    color: #ff7c4c;
    font-size: 50px;
    padding-bottom: 2rem;
}
.statistics-wrapper h3{
    padding-bottom: 1rem;
}
.blog-wrapper{
    background: #d9d9d9;
}
.blog{
    
    display: flex;
    padding-left: 4rem;
    padding-right: 4rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.blog img{
    width: 30rem;
}
.blog div{
    padding-left: 2rem;
}
.blog h3{
    padding: 2rem 0;
    font-weight: 300;
}
.blog h1{
    padding-bottom: 3rem;
}
.blog p{
    padding-bottom: 0.5rem;
}
.blog a{
    text-decoration: none;
    color: black;
    font-weight: 600;
}
.prices{
    display: flex;
}
.center{
    width: 90%;
    display: flex;
}
.left, .right{
    width: 5%;
    height: 40rem;
    background-color: #f5f5f5;
}
.text-price{
    width: 33%;
    padding: 4rem 6rem;
}
.text-price h1{
    padding-bottom: 4rem;
}
.plans{
    width: 33%;
    padding: 3rem;
    text-align: center;
    line-height: 2rem;
    margin: 2rem;
}
.one{
    background-color: #ff7c4c;
    
}
.two{
    background-color: black;
    color: white;
}
.plans h3{
    padding: 3rem;
}
.plans h1{
    padding-bottom: 4rem;
    font-weight: 200;
    font-size: 70px;
}
.blank{
    background-color: white;
    color: black;
}
footer{
    background-color: #d9d9d9;
    height: 5rem;
}
i{
    font-size: 1.5rem;
    padding-top: 2rem;
    padding-left: 15rem;
}
