@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap");

*{
    margin: 0;
    padding: 0;
    font-family: inter;
}
header{
    display: flex;
    background: #d9d9d9;
}
nav ul{
    display: flex;
    text-decoration: none;
    list-style: none;
    padding-left: 4rem;

}
nav li{
    margin: 1rem 2rem 1rem 2rem;
}
header button{
    margin-left: 60rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    background-color: white;
    color: black;
    border: 1px solid black;
    border-radius: 4px;
}
.about img{
    width: 100%;
    height: 50rem;
    object-fit: cover;
    object-position: 50% 190%; 
    

}
.about_text-container{
    position: absolute;
    top: 15rem;
    left: 10rem;
    width: 35%;
}
.about_text-container h1{
    margin-bottom: 6rem;
    font-size: 50px;
}
.about_text-container p{
    font-size: 20px;
    color: white;
    line-height: 1.5rem;
    margin-bottom: 3rem;
    
}
.button_fill{
   width: 10rem;
   height: 3rem;
   border-radius: 10px;
   border: 0px ;
   color: white;
   background-color: black;
   font-size: 17px;
}