
body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
button{
    padding: 1rem 4rem 1rem 4rem;
    font-size: 15px;
    font-weight: 700;
    border-radius: 10px;
    background-color: white;
}
.fill{
    background-color: black;
    color: white;
}
header{
    display: flex;
    font-weight: 600;
    font-size: 25px;
    padding-bottom: 2rem;
}
header ul{
    display: flex;
    text-decoration: none;
    list-style: none;
    margin-left: 50rem;
    margin-top: 1rem;
}
header li{
    padding-left: 2rem;
}
header span{
    margin-top: 1rem;
    margin-left: 6rem;
}
.one{
    background-color: #85dcff;
    display: flex;
}
.one-text-container h1{
    font-size: 40px;
    font-weight: 700;
}
.one-text-container{
    width: 35%;
    line-height: 1.5rem;
    margin-left: 10rem;
    margin-right: 10rem;
}
.one-text-container button{
    margin-top: 2rem;
}
.one-text-container button:last-of-type{
    margin-left: 4rem;
}
.one-image-container img{
    width: 30rem;
    
}
.two{
    text-align: center;
    margin-bottom: 3rem;
}
.two .heading{
    font-weight: 700;
    font-size: 25px;
}
.two .heading-info{
    font-weight: 600;
    font-size: 20px;
    width: 33%;
    margin-left: 33%;
    margin-bottom: 3rem;
}
i{
    font-size: 150px;
    color: #85dcff;
}
.container-two-info{
    width: 30%;
    margin-left: 5%;
}
.container-two{
    display: flex;
}
.three{
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: #85dcff;
    align-items: center;
    justify-content: center;
   
}
.three h1{
    text-align: center;
}
.three ul{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 5rem 25rem 5rem 25rem;
}
.three li::marker{
    font-size: 50px;
}

