@import url('https://fonts.googleapis.com/css?family=Great Vibes');

body{
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    line-height: 1.5;
}
h1{
    line-height: 1.2;
    font-weight: bold;
    font-family: Great Vibes, cursive;
    font-size: 50px;
    margin-top: 60px;
    margin-bottom: 15px;
}
.square{
    list-style-type: square;
}
.filledcircle{
    list-style-type: disc;
}
.circle{
    list-style-type: circle;
}